[Desktop Entry]
Name=OceanPop
GenericName=Match 3 game
Comment=A relaxing match 3 puzzle game with a twist
Exec=oceanpop
Icon=oceanpop
Type=Application
Keywords=match3;games;game;
Categories=Game;
StartupWMClass=oceanpop
