[submodule "vendor/SDL_mixer"]
	path = vendor/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "vendor/SDL_ttf"]
	path = vendor/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "vendor/SDL_image"]
	path = vendor/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "vendor/jsoncpp"]
	path = vendor/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "vendor/tinygettext"]
	path = vendor/tinygettext
	url = https://github.com/tinygettext/tinygettext.git
